#vis_endre_avbestill:not(:target) #visendre{
    display: none;
}

#vis_endre_avbestill:not(:target) #bestill_en_bil{
    display: block;
}

#vis_endre_avbestill:target #visendre{
    display: block;
}

#vis_endre_avbestill:target #bestill_en_bil{
    display: none;
}


